<h1>Editing Interview</h1>

<%= render 'form', interview: @interview %>

<hr>

<%= link_to 'Show', user_interview_path, class: "btn btn-link" %> |
<%= link_to t("page.move.back"), :back, class: "btn btn-link" %>
